body{
	background-color:white;
	color: #01CCFE;
	color:#212b41;
	font-family: 'Raleway', sans-serif;}
/*	position:relative;*/


div.body{

	min-height:100%;
	position:relative;
}

div.body1{

	height:100%;
	position:relative;
}

div#drawer{
	opacity: 0.0;
}
div.buttonbox {
	height:8%;
	position:relative;
	width:100%;
	margin:0;
	background-color: #e3f8fe;
	padding:0;
	margin-bottom:6%;

}

div.quote{
	font-size:20pt;
	color: #31bbe7;
	font-weight:bold;
	z-index: 1;
	opacity: 0.0;
	position:absolute;

}

div.quotes{
	font-size:25pt;
	margin-top:43%;
	width:80%;
	color: #31bbe7;
	margin-left: 15%;
	font-weight:bold;
/*	margin-bottom:20%;*/
	z-index: 1;
	position:relative;
}
div.ellenname{

	font-size:18pt;
	font-weight:300;
	margin-top:10%;
	margin-bottom: 0%;
	margin-left: 50%;
	line-height: 16pt;
	color:  #01CCFE;
	position: absolute;
	z-index: 1;
}
div.buttons {

				color: #01CCFE;
				font-size: 16pt;
				font-family: 'raleway', sans-serif;
				font-weight: bold;
				text-decoration: none;
				position:absolute;
				width:15%;
				font-weight:300;
			}

			div.buttons:hover {
				color:  #212b41;
				animation-name: buttons;
				animation-duration: 2s;

			}

div.buttons1 {
			/*	display: inline-block;*/
				color:  #01CCFE;
				font-size: 16pt;
				font-family: 'raleway', sans-serif;
				font-weight: bold;
				width:15%;
				text-decoration: none;
				position:absolute;
				font-weight:300;
			}

			div.buttons1:hover {
				color: #212b41;
				animation-name: buttons;
				animation-duration: 2s;

			}

@keyframes ellen {
    0% {opacity: 0.0;
    filter: alpha(opacity=50);}
    50% {opacity: 1.0;
    filter: alpha(opacity=50);}
}

@keyframes buttons {
    0% {color:#01CCFE;}
    50% {color:#008fb8;}
}
@keyframes quotes {
    0% {opacity: 0.0;}
    50% {opacity: 1.0;}
}

@keyframes quoteslast {
    0% {opacity: 1.0;}
    50% {opacity: 0.0;}
}
div.quote1{
	opacity: 0.0;
	animation-name: quotes;
	margin:auto;
	position:absolute;
	animation-delay:6s;
	animation-duration: 5s;


}
div.quote2{
	opacity: 0.0;
	animation-name: quotes;
	position:absolute;
	margin:auto;
	animation-delay:11s;
	animation-duration: 5s;
}
div.quote3{
	opacity: 0.0;
	animation-name: quotes;
	position:absolute;
	margin:auto;
	animation-delay:16s;
	animation-duration: 5s;
}
div.quote4{
	opacity: 1.0;
	animation-name: quoteslast;
	position:absolute;
	margin:auto;
	animation-delay:0s;
	animation-duration:30s;
}

img#ellenlogo{
	width:55%;
	margin:auto;
	margin-top:5%;
	margin-left: 40%;
}

div#career{
margin-left:25%;
width:10%;
margin-top:2%;
}

div#activism{
margin-left:42%;
width:10%;
margin-top:2%;	
}

div#earlylife{
margin-left:60%;
width:15%;
margin-top:2%}

div#sources{
margin-left:80%;
width:10%;
margin-top:2%;
	
}
div.ellenimages{
	position:relative;
	margin-top:-5%;
}
img#ellen1{
	width:100%;
	margin:auto;
	position:relative;
}
img#ellen2{
	width:100%;
	margin:auto;
	position:relative;
	animation-name: quoteslast;
	animation-delay:0s;
	animation-duration:30s;
	}

img#ellen{
	width:100%;
	margin:auto;
	position:absolute;
	opacity:0%;}

div.mainellen{
	width:100%;
	position:absolute;}

div.animationE{
	width:100%;
	position:absolute;
		opacity:0.0;
	 animation-name: ellen;
    animation-duration: 3s;
   animation-delay: 10s;
 animation-direction: alternate;
}

div.animationL{
	width:100%;
	position:absolute;
		opacity:0.0;
	 animation-name: ellen;
    animation-duration: 3s;
   animation-delay: 13s;
 animation-direction: alternate;
}

div.animationN{
	width:100%;
	position:absolute;
	opacity:0.0;
	 animation-name: ellen;
    animation-duration: 3s;
   animation-delay: 17s;
 animation-direction: alternate;}

h1{
	margin-left:2%;
	color:#01CCFE;
	font-size:22pt;}
h1.sources{
	margin-left:2%;
	color:#01CCFE;
	font-size:22pt;}



div.text{
	width:45%;
	margin-top: -35%;
	margin-left:50%;
	margin-bottom:5%;
	font-size:11pt;
	line-height: 15pt; 
	display:inline-block;
}
div.text1{
	width:45%;
	margin-top:-31%;
	margin-left:50%;
	margin-bottom:5%;
	font-size:11pt;
	line-height: 15pt; 
	display:inline-block;}

div.text4{
	width:45%;
	margin-top:-30%;
	margin-left:50%;
	margin-bottom:5%;
	font-size:11pt;
	line-height: 15pt; 
	display:inline-block;}

div.text5{
	width:45%;
	margin-top:-33%;
	margin-left:50%;
	margin-bottom:5%;
	font-size:11pt;
	line-height: 15pt; 
	display:inline-block;}

div.text2{
	width:45%;
	margin-top: -28%;
	margin-left:50%;
	margin-bottom:5%;
	font-size:11pt;
	line-height: 15pt; 
	display:inline-block;}

div.text3{
	width:45%;
	margin-top: -28%;
	margin-left:50%;
	margin-bottom:5%;
	font-size:11pt;
	line-height: 15pt;  
	display:inline-block;}

div.textsources{
	width:45%;
	font-size:9pt;
	line-height: 10pt; 
	margin-top: -26%;
	margin-left:50%;
	margin-bottom:5%;
}

h2{
	font-size:12pt;
	color:#01CCFE;
}
img.pageimage{
	width:45%;
	margin-top:5%;
	margin-left:2%;
	display:inline-block;}

div.sizing{
	width:100%;}

img#charity{margin-top:1%;}
	img#early{margin-top:1%;}
	img#dance{margin-top:0%;}
	img#oscar2{margin-top:0%;}
	img#oscar4{margin-top:0%;}
	img#pet{margin-top:2%;}

footer{
	color:#b2daf1;
	font-size:10pt;
	margin:auto;
	bottom:0;
	left:0;
	position:absolute;}

	div.pagesources{
				margin-left:50%;
				margin-top:-27%}


	









@media (max-width:1466px){

	}



@media (max-width:1330px){


}


@media (max-width:1024px){


		}


@media (max-width:834px){
div.ellenname{

	font-size:18pt;
	font-weight:300;
	margin-top:18%;
	margin-bottom: 0%;
	margin-left: 50%;
	line-height: 16pt;
	color:  #01CCFE;
	position: absolute;
	z-index: 1;
}
		}

@media (max-width:767px){

}

@media (max-width:715px){
	img#ellenlogo{
	width:80%;
	margin:auto;
	margin-top:5%;
	margin-left: 40%;
}
div.ellenname{

	font-size:18pt;
	font-weight:300;
	margin-top:25%;
	margin-bottom: 0%;
	margin-left: 50%;
	line-height: 16pt;
	color:  #01CCFE;
	position: absolute;
	z-index: 1;
}
div.buttons {

				color: #01CCFE;
				font-size: 13pt;
				font-family: 'raleway', sans-serif;
				font-weight: bold;
				text-decoration: none;
				position:absolute;
				width:15%;
				font-weight:300;
			}

			div.buttons:hover {
				color:  #212b41;
				animation-name: buttons;
				animation-duration: 2s;

			}

div.buttons1 {
			/*	display: inline-block;*/
				color:  #01CCFE;
				font-size: 13pt;
				font-family: 'raleway', sans-serif;
				font-weight: bold;
				width:15%;
				text-decoration: none;
				position:absolute;
				font-weight:300;
			}

			div.buttons1:hover {
				color: #212b41;
				animation-name: buttons;
				animation-duration: 2s;

			}
		}
@media (max-width:608px){
			}
			

@media (max-width:510px){


div#career{
margin-left:25%;
width:10%;
margin-top:4%;
}

div#activism{
margin-left:42%;
width:10%;
margin-top:4%;
}

div#earlylife{
margin-left:60%;
width:15%;
margin-top:4%;}

div#sources{
margin-left:80%;
width:10%;
margin-top:4%;
	
}
	img#ellenlogo{
	width:100%;
	margin:auto;
	margin-top:10%;
	margin-left: 30%;
}

div.ellenname{

	font-size:18pt;
	font-weight:300;
	margin-top:60%;
	margin-bottom: 0%;
	margin-left: 50%;
	line-height: 20pt;
	color:  #01CCFE;
	position: absolute;
	z-index: 1;
}
div.buttons {

				color: #01CCFE;
				font-size: 9pt;
				font-family: 'raleway', sans-serif;
				font-weight: bold;
				text-decoration: none;
				position:absolute;
				width:15%;
				font-weight:300;

			}

			div.buttons:hover {
				color:  #212b41;
				animation-name: buttons;
				animation-duration: 2s;

			}

div.buttons1 {
			/*	display: inline-block;*/
				color:  #01CCFE;
				font-size: 9pt;
				font-family: 'raleway', sans-serif;
				font-weight: bold;
				width:15%;
				text-decoration: none;
				position:absolute;
				font-weight:300;
			}

			div.buttons1:hover {
				color: #212b41;
				animation-name: buttons;
				animation-duration: 2s;

			}
			footer{
				margin-top:15%;
				font-size:9pt;
			}
				
			


		}

@media (max-width:414px){

			div.buttonbox{
				display:none;
			}
	

			div#drawer{
				z-index: 100;
				opacity: 1.0;
				content:
				<button class="controls"></button>
				<div class="contents">
									
					<a href="index.html">
					<div class="buttons" id="home">
						<img id="ellenlogo" src="images/ellen.png" alt="Ellen Logo"></img>
					</div>
						
					</a>

					<a href="earlylife.html">
					<div class="buttons" id="earlylife">
						EARLY LIFE
					</div>
						
					</a>

						<a href="career.html">
					<div class="buttons" id="career">
							CAREER
					</div>
						
					</a>

						<a href="activism.html">
					<div class="buttons" id="activism">
						ACTIVISM
					</div>
						
					</a>

						<a href="sources.html">
					<div class="buttons" id="sources">
						SOURCES
					</div>
						
					</a>
				</div>;
			}

					body {
						margin: 0;
						padding: 0;
						font-family:  'raleway', sans-serif;
					}

					#drawer {
						position: fixed;
						top: 0;
						width: 100%;
						z-index: 100;
						/*	display:inline-block;*/
						height: 60px;
					}

					#drawer button.controls {
						position: absolute;
						right: 0;
						bottom: 0;
						height: 60px;
				
						width: 100%;
						background-color: #212b41;;
						cursor: pointer;
					}

					#drawer.open button.controls {
						background-color: #212b41;;
					
					}

					#drawer button.controls:after {
						content: "More Ellen";
						font-family:  'raleway', sans-serif;
						font-weight:200;
						color:#01CCFE;
						font-size: 25px;
					}

					#drawer.open button.controls:after {
						content: "Less Ellen";
					}

					#drawer .contents {
						height: 0;
						padding: 0 10px;
						box-sizing: border-box;
						width: 100%;
						display:none;
						background-color:#212b41;
						/*color: #fff;*/
						transition: all .5s;
					}

					#drawer.open .contents {
						height: 250px;
						display: block;
						padding: 30px 10px 10px 10px;
						overflow: hidden;
						margin-top:50px;
					}

					img#ellenlogo{
						width:150%;
						/*margin:auto;*/
						margin:auto;
						margin-top:10%;
						/*margin-left:40%;*/
					}

					div#career{
				/*margin-left:20%;*/
				/*	width:10%;*/
					margin:auto;
					margin-top:15%;
					}

					div#activism{
				/*margin-left:20%;*/
					/*width:10%;*/
						margin:auto;
					margin-top:25%;	
					}

					div#earlylife{
					/*margin-left:20%;*/
					width:40%;
					margin:auto;
					margin-top:35%}

					div#sources{
					/*margin-left:20%;*/
					/*width:10%;*/
					margin:auto;
					margin-top:45%;
			
		}
		div.buttons {

						color: #01CCFE;
						font-size: 16pt;
						font-family: 'raleway', sans-serif;
						font-weight: bold;
						text-decoration: none;
						position:absolute;
						width:15%;
						font-weight:300;
					}

					div.buttons:hover {
						color:  #212b41;
						animation-name: buttons;
						animation-duration: .5s;

					}

		div.buttons1 {
					/*	display: inline-block;*/
						color:  #01CCFE;
						font-size: 16pt;
						font-family: 'raleway', sans-serif;
						font-weight: bold;
						width:15%;
						text-decoration: none;
						position:absolute;
						font-weight:300;
					}

					div.buttons1:hover {
						color: #212b41;
						animation-name: buttons;
						animation-duration: .5s;

					}
		div.quotes{
			font-size:20pt;
			margin-top:55%;
			width:80%;
			text-align: center;
			color: #31bbe7;
			margin-left: 10%;
			margin-right: 10%;
			font-weight:bold;
		/*	margin-bottom:10%;*/
			z-index: 1;
			position:absolute;
		}
		div.ellenimages{
			position:relative;
			margin-top:20%;
			}

		img#ellen1{
			width:100%;
			margin:auto;
			position:relative;
		}
		img#ellen2{
			width:100%;
			margin:auto;
			position:relative;
			animation-name: quoteslast;
			animation-delay:0s;
			animation-duration:30s;
			}

		img#ellen{
			width:100%;
			margin:auto;
			position:absolute;
			opacity:0.0;}

		div.mainellen{
			width:100%;
			position:absolute;}

		div.animationE{
			width:100%;
			position:absolute;
				opacity:0.0;
			 animation-name: ellen;
		    animation-duration: 3s;
		   animation-delay: 10s;
		 animation-direction: alternate;
		}

		div.animationL{
			width:100%;
			position:absolute;
				opacity:0.0;
			 animation-name: ellen;
		    animation-duration: 3s;
		   animation-delay: 13s;
		 animation-direction: alternate;
		}

		div.animationN{
			width:100%;
			position:absolute;
			opacity:0.0;
			 animation-name: ellen;
		    animation-duration: 3s;
		   animation-delay: 17s;
		 animation-direction: alternate;}
		div.ellenname{

			font-size:15pt;
			font-weight:300;
			margin-top:100%;
			width:80%;

			text-align:center;
			margin-left: 10%;
			margin-right:10%;
			line-height: 20pt;
			color:  #01CCFE;
			position: absolute;
			z-index: 1;
		}

		body.pages{
		margin-top:20%;
		}
		div.sizing{
			margin-bottom: 10%;
			margin-left:12%;
			margin-right:12%;
			width:75%;
		}

		h1{
			/*margin-left:25%;*/
			color:#01CCFE;
			font-size:22pt;
			margin-left: 12%;
			}

		footer{
			padding-bottom:2%;
			margin-top:10%;
			margin-left:3%;

			}
		
		div.text2{
			width:100%;
			margin-top: -26%;
			margin-left:0%;
			margin-bottom:5%;
			font-size:11pt;
			line-height: 15pt; 
			display:inline-block;}
			div.text1{
			width:100%;
			margin-top: -26%;
			margin-left:0%;
			margin-bottom:5%;
			font-size:11pt;
			line-height: 15pt; 
			display:inline-block;}
			div.text4{
			width:100%;
			margin-top: -26%;
			margin-left:0%;
			margin-bottom:5%;
			font-size:11pt;
			line-height: 15pt; 
			display:inline-block;}
			div.text3{
			width:100%;
			margin-top: -26%;
			margin-left:0%;
			margin-bottom:5%;
			font-size:11pt;
			line-height: 15pt; 
			display:inline-block;}
				div.text{
			width:100%;
			margin-top: -26%;
			margin-left:0%;
			margin-bottom:5%;
			font-size:11pt;
			line-height: 15pt; 
			display:inline-block;}
		img.pageimage{
			width:100%;
			margin-top:5%;
			margin-bottom: 36%;
			margin-left:0%;
			display:block;}
			div.pagesources{
				margin-left:0%;
				margin-top: -30%}
			
			
			}
		