body{background:#4d30a3/*#ff9e9e*/;
/*	background-image: linear-gradient(#ff9e9e,#2740ad);*/
	color: white;
	width:100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	}

div.title
	{
	background-color: white;
	position:relative;
	height: 140px;
	width: 100%;
	margin:0000;
}
/*img#header{

	margin: 0000;
	position: absolute;
*/
/*}*/

h1.title{
	padding-top:9px;
	font-size:40pt;
	text-align:center;
	font-family: 'Amatic SC', serif;
	margin-bottom:6%;
	position:relative;
	z-index: 1;
	color:/*#144fad*/ #a385fc/*#ff9e9e*/;
}
h2.subhead{
	font-size:30pt;
	text-align: center;
	margin-top: -5px;
	font-family: 'Amatic SC', serif;
	position:relative;
	z-index: 1;
	color: #4d30a3/*#ff9e9e*/;
}
hr.title{
	width:40%;
	color:#4d30a3 /*#ff9e9e*/;
	margin-left:30%;
	margin-top: -5%;
	position:relative;
	border-style:solid;
}
hr.info {
	width:96%;
	color:white;
	border-style:solid;
	margin-top:-3%;
	margin-bottom: 20px;}

hr.info1 {
	color: #e5defc;
	border-style:solid;}


div.image{
	margin: 0 0 0 0 ;
	
}
div.images{
	position:relative;
	width:100%;
	height:60px;
	margin-top:0px;
	margin-bottom: 10px;
	background-color:white /*#ff9e9e*/;

}
div.images1{
	position:absolute;
	width:100%;
	height:60px;
	margin-top:0px;
	margin-left:-3%;
	margin-bottom: -2%;
	background-color:white /*#ff9e9e*/;

}
img#butter{
	height: 100%;
	width: 25%;
	margin-left:25%;
	position: absolute;
	z-index: 1;
	}
img#egg{
	height: 100%;
	width: 25%;
	margin-left:50%;
	position: absolute;
z-index: 1;}
img#Flour{
	height: 100%;
	width: 25%;
	margin-left:75%;
	position: absolute;
z-index: 1;}

img#blueberry{
	height: 100%;
	width: 25%;
	margin: 0000;
	position: absolute;
	z-index: 1;
	}
img#pie{
	height: 20%;
	width: 100%;
	float:top;
	margin-bottom:-12%;
	margin-left: 0%;
	z-index: 1;
	}

h1.ingredients{
	font-size:34pt;
	font-family: 'Amatic SC', cursive;
}

h2.ingredients{
	font-size:20pt;
	font-family: 'Amatic SC', cursive;
/*	color: #e5defc;*/
}
div.ingredients1{
	font-size:12pt;
	font-family: 'Amatic SC', cursive;
	display:inline-block;
	margin:0 10px;
}
div.ingredients2{
	font-size:12pt;
	font-family: 'Amatic SC', cursive;
	display:inline-block;
	margin:0 10px;
}
div.ingredients3{
	font-size:12pt;
	margin:0 10px;
	font-family: 'Amatic SC', cursive;
	display:inline-block;
}
/*#serving{ margin-left:0%;

}
#prep{margin-left:25%;

}

#cook{margin-left: 60%;

}
*/

hr.underline {
	width:45%;
	margin-top:-4%;
	background-color:white;
	margin-left:25%;
	border-style:solid;}
p{
	font-size:12pt;
	font-family: 'KoHo',sans-serif;
	font-weight:italic;
	line-height: 20pt;
}
div.bodycopy{
	width:80%;
	text-align:center;
	margin-left:7%;
	font-family: 'KoHo',sans-serif;
}

div.bodycopy1{
	width:85%;
	height:50px;
	padding-left:6%;
	bottom-margin:5%;
	position:relative;
	font-family: 'KoHo', sans-serif;
}
div.bodycopy5{
	text-align:center;
	height:6%;
	width:100%;
	font-family: 'KoHo', sans-serif;
}

div.bodycopy2{
	width:93%;
	height:10px;
	padding-left:6%;
	bottom-margin:5%;
	position:relative;
	font-family: 'KoHo',sans-serif;
	background: #c6ceff;
}

/*div.left{
	text-align:left;
}*/
hr.info {
	width:97%;
	color:white;
	border-style:solid;
	margin-top:-3%;
	margin-bottom: 10%;}

span.number{
	font-family: 'Amatic SC', cursive;
	font-size:14pt;
	color: #e5defc
	}
div.number1{
	font-family: 'Amatic SC', cursive;
	font-size:20pt;
	color: #e5defc;
	text-align:center;
				display: inline-block;
				height: 40px;
				width:40px;
				box-sizing: border-box;
				border-radius: 20px;
				margin: auto;
				margin-top: 20px;
				padding-top: 2pt;
				border: .5px solid #fff;
				background: #9c8bd9;
				color: #fff;

	}

span.number2{
	font-family: 'Amatic SC', cursive;
	font-size:20pt;
	color: #e5defc
	}

span.number3{
	font-family: 'Amatic SC', cursive;
	font-size:32pt;
	color: #e5defc
	}

footer{
	margin-top: 15px;
	margin-bottom: 20px;
	font-size:7pt;
	/*margin-left:10%;*/
	text-align:center;
	font-family: 'KoHo', sans-serif;
}